
<%- include('shared/head') -%>

<div class="main">
<%- include('shared/header') -%>

  <div class="search-view">
    <div class="search-view__inner container">
      <h4 class="search-view__header">
        Search View
      </h4>

      <div class="search-view-filter">
        <div class="search-view-filter__location">
          <div class="search-view-filter__field">
            Location:
          </div>
          <div class="search-view-filter__value">
            <%= search.location %>
          </div>
        </div>
        <div class="search-view-filter__keywords">
          <div class="search-view-filter__field">
            Keywords:
          </div>
          <div class="search-view-filter__value">
            <%= search.keywords %>
          </div>
        </div>
      </div>

      <h4 class="search-view__header">
        Search Results
      </h4>

      <div class="table">
        <table>
          <thead>
            <tr>
              <th class="cell cell--small cell--center">#</th>
              <th class="cell">Name</th>
              <th class="cell">Title</th>
              <th class="cell">Country</th>
            </tr>
          </thead>
          <tbody>
            <tbody>
              <% profiles.forEach((profile, index) => { %>
                <tr>
                  <td class="cell cell--small cell--center"><%= index + 1%></td>
                  <td class="cell">
                    <a href="/profiles/1"><%= profile.fullName %></a>
                  </td>
                  <td class="cell"><%= profile.title %></td>
                  <td class="cell"><%= profile.location %></td>
                </tr>
              <% }) %>
            </tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('shared/foot') -%>